body {
  background-color: rgb(116, 116, 116);
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logIn {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    max-width: 500px;
    clear: both;
  }

}

.book {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  flex: 1;
}

.allBooks {
  display: flex;
  flex-direction: column;
  background-color: gray;
  max-width: 1000px;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: center;
  margin: 10px;
}